.drag-componet{
    aspect-ratio: 16/11;
    height: 100%;
    border: 1px solid gray;
    /* padding: 10px; */
    position: relative;
    border-radius: 3px;

}

.frame-1{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-style: dashed;
    border-radius: 5px;
    position: relative;
}

.grid-area{
    width: 100%;
    height: 100%;
}

.drop-componet{
    width: 20%;
    height: 100%;
    border: 1px solid gray;
    overflow: scroll;
    padding: 10px;
    border-radius: 3px;
    
}
.drop-componet > div > div{
    cursor: pointer;
}

.tree-section{
    width: 15%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}
.selected{
    border: 2px solid rgb(62, 161, 227);
}



.drag-componet-zoom:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 0.5px solid #211e1e78;
    transform: translate(-50%);
}

.drag-componet > div{
    width:100% ;
    height: 100%;
}

.drag-componet > div > div{
    width:100% ;
    height: 100%;
    position: relative;
    border: 0.5px solid #211e1e78;
}
.grid-area{
    position: relative;
}