.list-root{
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    /* border-radius: 5px; */
    background-color: rgb(231, 235, 238)
}

.container-root{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}
.selected{
    border: 2px solid rgb(62, 161, 227);
}

.layout-section{
    border-bottom: 1px solid gray;
    padding-bottom: 5px ;
}