.header-root{
    height: 70px;
    display: flex;
    align-items: center;
   
    justify-content: space-between;
}

.asset-types-list{
    display: flex;
    gap:10px;
    align-items: center;
    background-color: rgb(231, 235, 238);
    padding: 10px;
    border-radius: 5px;

}

.asset-types{
    display: flex;
    /* gap: 2px; */
    align-items: center;
}

.asset-root{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.application-name{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-with-publication-name,.page-number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.page-with-publication-name{
    gap: 30px;
}

.page-icon{
    cursor: pointer;
    padding: 5px;
}
.page-icon:hover{
    background-color: rgb(231, 235, 238);
    border-radius: 5px;

}
.page-number{
    gap: 20px;
}

.diabled{
    cursor:not-allowed;
    /* pointer-events: none; */
}