.image-drag-drop{
    width: 200px;
    height: 100px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    border-style: dotted; */
    /* padding: 5px; */
}

.image-component{
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
    border-style:dashed;
}

.link-section , .text-section{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-style:dashed;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;

}

.image-assets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.accordian{
    background-color: rgb(231, 235, 238);
    padding: 10px;
    border-start-start-radius: 5px;
    border-start-end-radius:5px ;
    cursor: pointer;

}

.text-area{
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    /* padding: 20px; */
    /* border-radius: 10px; */
    border-end-end-radius:5px;
    border-end-start-radius: 5px;
    border: 1px solid rgb(231, 235, 238);
}
.text-drag-drop{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text{
    /* background-color: rgb(231, 235, 238); */
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-root{
    /* background-color: rgb(231, 235, 238); */
    border-radius: 5px;
}
